.z_wrap {
  padding: 20px;

  .con {
    div {
        input{
            width:200px;
        }
      b {
        margin-right:20px;
      }
      .ant-select{
          position: relative;
          top:8px;
      }
    }
  }
  .btn {
    margin-top: 50px;
    button {
      margin-right: 80px;
    }
  }
  
}
