.z_wrap {
  padding: 20px;
}

.z_wrap .con div input {
  width: 200px;
}

.z_wrap .con div b {
  margin-right: 20px;
}

.z_wrap .con div .ant-select {
  position: relative;
  top: 8px;
}

.z_wrap .btn {
  margin-top: 50px;
}

.z_wrap .btn button {
  margin-right: 80px;
}
